

#about_blue{
  background-color: #6495ED;
}

#about_yellow{
  background-color: #FFEBCD;
}

#about_blue li{
  color:blue;
}

#about_yellow li{
  color:orange;
}

.important {
  font-weight:bold;
  font-size: 16px;
}

.color-info {
  border-style:solid;
  border-color:black;
  border-width: : 3px;
}

.nav  a{
  background-color:red;
  color: white;

}

#about_blue {
  margin-bottom: 20px;
}
